@media (max-width: 767px) {
    .titleAdmin { position: relative !important; }
    #wrapper .navbar-header {
        position: absolute;
        right: 0;
    }
    .width200 { width: auto !important; }
    .navbar-collapse.navbar-ex1-collapse.collapse.in {
        position: absolute;
        left: 15px;
        right: 15px;
        background: #fff;
    }
    #intro {
        padding-left: 0px !important;
        padding-top: 100px;
    }
    body .headerTop .pull-right, body .headerTop {
        float: none !important;
        text-align: center;
    }
    .breadcrumbArea .pull-left {
        float: right !important;
        text-align: right;
    }
    .addScheme .btn, .addScheme a { margin: 10px 5px !important; }
}
@media(max-width: 991px) {
    .col-sm-6 { width: 100% !important; }
    .pull-right { float: left !important; }
    .projectName { padding-bottom: 10px; }
    .emailTitle {
        width: 100%;
        border-bottom: 1px solid #444;
        margin-bottom: 12px;
        /* padding-bottom: 7px; */
        font-weight: bold;
        background: #ccc;
        padding: 5px;
    }
}
@media (min-width: 768px) {
    .navbar-nav>li {
        float: left;
        margin-bottom: 1px;
    }
    .navbar-right {
        float: right!important;
        margin-right: -15px;
        margin-top: 10px;
    }
    #createBillGeneration .modal-lg { width: 70%; }
}
@media (max-width: 400px) {
    .main-header .sidebar-toggle {
        padding: 5px 10px 2px;
        font-size: 20px;
    }                                                                                                                                                                                                                                                                                   { display: none; }
    .adminContent, .adminContent1 {
        padding: 5px;
        margin: 5px;
    }
    #content { width: 15px; }
    .langText, .backbtn { display: none; }
}