#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    /* background-color: rgba(248, 248, 248, 1); */
    border-bottom-width: 1px;
    background-image:  url("../images/grey banner_img.jpg")
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}

@media (min-width: 768px){
.navbar-collapse.collapse {
   
    height: 105px !important;
    /* background: red; */
}
}

.header_top {
    background: black;
    color: white; 
       height: 23px;
}

.header_top_text{
    font-size: 11px;
    padding-top: 4px;
    padding-left: 21px;
}
.languageoptions{text-align: right;}
/* .languageoptions li{display: inline-block;padding: 10px 20px;font-size: 16px;text-transform: uppercase;float: right;}
.languageoptions a{text-decoration: none;} */
.languageoptions p{color: #ffffffb5;font-size: 12px;padding-top: 3px;}
.languageoptions select{background-color: #484747;border: none;}
.social_icons i{padding: 0px 4px;color: #ffffffb5;font-size: 10px;}





.dropbtn {
    background-color: transparent;
    color: white;
    padding: 6px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color:black !important;
    text-align: left;
}

.dropdown-content a {
    color: black !important;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;color:#fff !important}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #139c13;
    border-radius: 5px;
    color:black;
}




.lia {
    /* border: 1px solid green;
    background: green; */
    padding: 7px 16px;
    /* border-radius: 5px; */
}
.list_menu{text-align: center;}
.list_menu li{list-style-type: none;list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    }
    .list_menu li a{color: #fff;}
    .list_menu li a:hover{background: linear-gradient(#139c13 , #035703);
        color: black;border-radius: 5px;}

.class_governance{color:#286f28;font-weight:800}
 .capitalize { text-transform: capitalize; }    








 .ul_header{
	margin-top: 20px;
    font-weight: 700;
    color: black !important;
    font-size: 15px;
}
.baner_img{
	margin-top: 120px;
    width: 100%;
}

.submit_btn{
    padding: 5px;
    width: 75px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: #e84c3d;
    color: white;
}

.color_black{
	color:#000000 !important;
}


.padding0{
	padding:0px;
}
.mleft_mright0{
	margin-left:0px !important;
	margin-right:0px !important;
}
.floor{
    background: #e0d9d9b8;
    width: 97%;
    margin-left: 12px;
    padding: 10px;
}
.width80{
	width:80% !important;
}
.width95{
	width:95% !important;
}
.width93{
	width:93% !important;
}
.width98{
	width:98% !important;
}
.m-top8{
	margin-top:8px;
}
.m-top10{
margin-top:12px;
}
.m-btm10{
	margin-bottom: 10px;
}
.checkbox_p{
    width: 19px;
    height: 18px;
}
.width20{
    width: 20% !important;
}
.d_inline{
	display: inline;
}
.text-center{
	text-align: center;
}
.textarea_p{
    width: 88% !important;
    display: inline;
    margin-top: 15px;
    height: 90px;
}
.btn_p{
    text-align: center;
    margin-top: 20px;
}
.cancel_btn{
    color: white !important;
    background: #34393d;
    width: 115px;
    border-radius: 15px;
}
.addOwner_btn{
    color: white;
    background: #e84c3d;
    width: 115px;
    border-radius: 15px;
}
.grievance1_btn{
        color: black;
    background: white;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 8px 23px;
}
.removeOwner_btn{
    color: #e84c3d;
    border:1px solid #e84c3d;
	background: white;
    border-radius: 15px;
}
.submit_btn{
    color: white;
    background: #e84c3d;
    width: 115px;
    border-radius: 15px;
	height: 38px;
}
.grievance_btn{
    color: white !important;
    background: #e84c3d;
    border-radius: 15px;
	height: 38px;
}
.addmore_btn{
    color: white;
    background: #72b63d;
    width: 115px;
    border-radius: 15px;
margin-top:10px;
}
.m-top12{
	  margin-top: 12px;
}
  
