<div class="">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemeSuccess text-center">
                    <h1>
                        <span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </h1>

                    <!--{{requestDetails}}-->
                    Successfully Submitted Your Request
                    <h3> <b>" {{requestDetails.title}} "</b> </h3>
                    <h3> <b>" {{requestDetails.applicationId}} "</b> </h3>
                </div>
            </div>
        </div>
    </div>
</div>