<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item"><a href="#/schemes"><span lang="en">Scheme</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Add Scheme</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a ng-click="clickToBack()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row" ng-controller="addSchemeController">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Add Scheme</div>
                <!--<div class="cursorPointer"> <a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-chevron-left"></span></a> </div>-->
                <hr/>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms">
                    <form class="simple-form" ng-submit="createScheme()">
                        <div class="row">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"> <span class="color-red f-bold f-left">*</span>Scheme Name</label>
                                <input type="text" class="form-control" ng-model="scheme.name" placeholder="Enter Scheme Name" required/>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"> <span class="color-red f-bold f-left">*</span>Scheme Description</label>
                                <textarea rows="5" ng-model="scheme.description" placeholder="Enter Scheme Description" required></textarea>
                                <!--  <input type="text" class="form-control" ng-model="scheme.description" placeholder="Enter Scheme Name" />-->
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Category</label>
                                <select ng-model="scheme.category" data-style="btn-primary" required>
                                    <option value="">Select Category</option>
                                    <option value="central">Central Govt Schemes</option>
                                    <option value="state">State Schemes</option>
                                    <option  value="local">Local Schemes</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Department</label>
                                <select ng-model="scheme.departmentId" data-style="btn-primary" required>
                                    <option value="">Select Department</option>
                                    <option ng-repeat="department in departmentList"  value="{{department.id}}">{{department.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Ministry</label>
                                <select ng-model="scheme.ministryId" data-style="btn-primary" required>
                                    <option value="">Select Ministry</option>
                                    <option ng-repeat="ministries in ministriesLists"  value="{{ministries.id}}">{{ministries.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Status</label>
                                <select ng-model="scheme.status" data-style="btn-primary" required>
                                    <option value="">Select Status</option>
                                    <option value="Active">Active</option>
                                    <option value="InActive">InActive</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label lang="en"> <span class="color-red f-bold f-left">*</span>Scheme Budget</label>
                                <input type="text" class="form-control" ng-model="scheme.budget" valid-number placeholder="Enter Scheme Budget" required/>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <label lang="en"> <span class="color-red f-bold f-left">*</span>Date of Commencement</label>
                                <input ng-model="scheme.commincement" placeholder="Please Select commencement Date"  type="text" title="Please Select  Date" ng-calendar ng-model="myDate" format="%d-%m-%Y" required readonly>
                                <!--<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />-->
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Beneficiaries</label>
                                <div ng-dropdown-multiselect="" search-filter="customFilter" options="bineficiariesList"  selected-model="bineficiaries" extra-settings="example15settings">
                                    <button lang="en" class="btn btn-danger">OK</button>
                                </div>
                                <pre>List: <div class="spanComma" ng-repeat="bet in bineficiaries">{{bet.id.label}}<span class="lastComma">,</span></div></pre>
                            </div>
                            <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Notification</label>
                                <button lang="en" class="btn btn-success" ngf-select="uploadFiles($files)" multiple ngf-accept="'image/jpeg,image/png,application/pdf'">Upload Gov Notification</button>
                                <div ng-show="uploadNitif">
                                    <h4>Uploaded Notitfications:</h4>
                                    <table class="table" >
                                        <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>Comment</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  ng-repeat="f in uploadFileURL">
                                            <td> <a target="_blank" href="{{uploadURL}}{{f.id}}">{{f.name}}</a></td>
                                            <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                            </td>
                                            <td>  <span class="glyphicon glyphicon-trash" ng-click="removeFiles($index, f.id, 'file')"></span></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="color-red" ng-show="errorMssg1">Please Wait.. Uploading the selected file.</div>
                                <span class="progress" ng-show="progress >= 0"></span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <fieldset class="fsStyle m-btm20">
                                    <legend class="legendStyle nopadding">
                                        <a data-toggle="collapse" data-target="#demo"><span lang="en">Contact 1</span></a>
                                    </legend>
                                    <div class="row collapse in" id="demo">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Employee</label>
                                                    <select ng-change="getEmpData(scheme.contactOne.employeeId)"  ng-model="scheme.contactOne.employeeId" data-style="btn-primary" required>
                                                        <option value="">Select Employee</option>
                                                        <option ng-repeat="employee in employeeList"  value="{{employee.employeeId}}">{{employee.employeeId}}-{{employee.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Address of Contact</label>
                                                    <textarea rows="5" ng-model="scheme.contactOne.address" placeholder="Enter Address" required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="showEMPDetails" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div>
                                                <table class="table table-bordered table-striped">
                                                    <tr>
                                                        <th colspan="3">Employee Details</th>
                                                    </tr>
                                                    <tr>
                                                        <th>First Name</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Email Id</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP.email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Department</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP.department}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Designation</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP.designation}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Phone Number</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP.mobile}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Work Phone Number</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP.workMobile}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <fieldset class="fsStyle m-btm20">
                                    <legend class="legendStyle nopadding">
                                        <a data-toggle="collapse" data-target="#demo1"><span lang="en">Contact 2</span></a>
                                    </legend>
                                    <div class="row collapse in" id="demo1">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Employee</label>
                                                    <select ng-change="getEmpData1(scheme.contactTwo.employeeId)" ng-model="scheme.contactTwo.employeeId" data-style="btn-primary" required>
                                                        <option value="">Select Employee</option>
                                                        <option ng-repeat="employee in employeeList"  value="{{employee.employeeId}}">{{employee.employeeId}}-{{employee.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Address of Contact</label>
                                                    <textarea rows="5" ng-model="scheme.contactTwo.address" placeholder="Enter Address"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="showEMPDetails1" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div>
                                                <table class="table table-bordered table-striped">
                                                    <tr>
                                                        <th colspan="3">Employee Details</th>
                                                    </tr>
                                                    <tr>
                                                        <th>First Name</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP1.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Email Id</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP1.email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Department</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP1.department}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Designation</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP1.designation}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Phone Number</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP1.mobile}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Work Phone Number</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP1.workMobile}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <fieldset class="fsStyle m-btm20">
                                    <legend class="legendStyle nopadding">
                                        <a data-toggle="collapse" data-target="#demo2"><span lang="en">Contact 3</span></a>
                                    </legend>
                                    <div class="row collapse in" id="demo2">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Employee</label>
                                                    <select ng-change="getEmpData2(scheme.contactThree.employeeId)" ng-model="scheme.contactThree.employeeId" data-style="btn-primary" required>
                                                        <option value="">Select Employee</option>
                                                        <option ng-repeat="employee in employeeList" value="{{employee.employeeId}}">{{employee.employeeId}}-{{employee.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Address of Contact</label>
                                                    <textarea rows="5" ng-model="scheme.contactThree.address" placeholder="Enter Address"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="showEMPDetails2" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div>
                                                <table class="table table-bordered table-striped">
                                                    <tr>
                                                        <th colspan="3">Employee Details</th>
                                                    </tr>
                                                    <tr>
                                                        <th>First Name</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP2.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Email Id</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP2.email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Department</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP2.department}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Designation</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP2.designation}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Phone Number</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP2.mobile}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Work Phone Number</th>
                                                        <td>:</td>
                                                        <td>{{selectedEMP2.workMobile}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en">Note/Comment</label>
                                <input type="text" class="form-control" ng-model="scheme.comment" placeholder="Enter Note or Comment Regarding Contact Timings" />
                            </div>
                            <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Files</label>
                                <button lang="en" class="btn btn-success" ngf-select="uploadForms($files)" multiple ngf-accept="'image/jpeg,image/png,application/pdf'">Upload Required Document For Form Section</button>
                                <div ng-show="uploadFormNotif">
                                    <h4>Uploaded Forms</h4>
                                    <!-- <ul>
                                         <li ng-repeat="f in uploadFormsNotif">
                                             <a target="_blank" href="{{uploadURL}}{{f.id}}">{{f.name}}</a>
                                         </li>
                                     </ul>-->
                                    <table class="table" >
                                        <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>Comment</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  ng-repeat="f in uploadFormsNotif">
                                            <td> <a target="_blank" href="{{uploadURL}}{{f.id}}">{{f.name}}</a></td>
                                            <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                            </td>
                                            <td>  <span class="glyphicon glyphicon-trash" ng-click="removeFiles($index, f.id, 'form')"></span></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="color-red" ng-show="errorMssg">Please Wait.. Uploading the selected file.</div>
                                <span class="progress" ng-show="progress >= 0"></span>
                                <!--<div ng-bind="progress + '%'">

                                </div>-->
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h5 class="errorMsg message fadein fadeout">{{formNotSelected}}</h5>
                            </div>
                            <div ng-if="errorMessage" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h5 class="errorMsg message fadein fadeout">{{errorMessageData}}</h5>
                            </div>
                            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <br />
                                <button lang="en" class="btn btn-success" ng-disabled="disable" lang="en">Submit</button>
                                <button lang="en" type="button" ng-click="reset()" class="btn btn-info" lang="en">Reset</button>
                                <button lang="en" class="btn btn-default" ng-click="clickToBack()" lang="en">Cancel</button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>


            <div id="addSchemeSuccess" class="modal fade" role="dialog" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body text-center modalSuccess">
                            <div class="sMessage">Successfully -' <b>{{schemeDetailsAre.name}}</b> '  is Created.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button lang="en" ng-click="addSchemeSuccess()" class="btn btn-success width120">OK</button>
                    </div>
                </div>
            </div>



        </div >

    </div>
</div>

