<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Land And Asset</span></li>
                <li class="breadcrumb-item active"><span lang="en">Asset Life Cycle Plan</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Asset Life Cycle Plan</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <div class="addScheme pull-right">
                           <!-- <button class="btn btn-default m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#assetLifeCyclePlan')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                        <button class="btn btn-success pull-right" data-toggle="modal" ng-click="removeMessaageInAdd()" data-target="#addAssetPhase"><span lang="en">Add Asset Plan</span></button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="assetLifeCyclePlan" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr>
                            <th lang="en">Asset Phase</th>
                            <th lang="en">Status</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="assetPhase in assetPhaseList">

                            <td class="text-capitalize">{{assetPhase.assetPhase}}</td>
                            <td class="text-capitalize">{{assetPhase.status}}</td>
                            <td class="text-capitalize">
                                <button class="btn btn-primary" ng-click="editAssetPhase(assetPhase)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<!--<div id="addAssetPhase" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        &lt;!&ndash; Modal content&ndash;&gt;
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Asset Phase</h4>
            </div>
            <form role="form" name="myform" ng-submit="addAssetPhaseData()">
                <div class="row schemForms">

                    <div class="modal-body">

                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center errorMsg">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span>Asset Phase:</label>
                            <input type="text" placeholder="Enter Asset Phase" class="form-control" ng-model="assetPhase.assetPhase" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span>Status:</label>
                            <select ng-model="assetPhase.status" data-style="btn-primary" data-placement="Select status" required>
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>-->

<div id="addAssetPhase" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add Asset Plan</h4>
            </div>
            <form role="form" name="myform" ng-submit="addAssetPhaseData()">
                <div class="modal-body">
                    <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center errorMsg">
                        {{errorMessageData}}</div>
                    <div class="row schemForms">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Asset Phase</span>:</label>
                            <input type="text"  placeholder="Enter Asset Phase" class="form-control" ng-model="assetPhase.assetPhase" required />
                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Status</span></label>
                            <select ng-model="assetPhase.status" data-style="btn-primary" data-placement="Select status" required>
                                <option value="" selected>Select Status</option>
                                <option value="Active">Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--<div id="editAssetPhaseModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        &lt;!&ndash; Modal content&ndash;&gt;
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Asset Phase</h4>
            </div>
            <form role="form" name="myform" ng-submit="editAssetPhaseButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center errorMsg">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span>Asset Phase:</label>
                            <input type="text" placeholder="Enter Asset Phase" class="form-control" ng-model="editAssetPhaseData.assetPhase" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span>Status:</label>
                            <select ng-model="editAssetPhaseData.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>-->


<div id="editAssetPhaseModel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Edit Asset Plan</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="editAssetPhaseButton()">
                <div class="modal-body">
                    <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center errorMsg">
                        {{errorMessageData}}</div>
                    <div class="row schemForms">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Asset Phase</span>:</label>
                            <input type="text"  placeholder="Enter Asset Phase" class="form-control" ng-model="editAssetPhaseData.assetPhase" required />
                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Status</span></label>
                            <select ng-model="editAssetPhaseData.status" data-style="btn-primary" data-placement="Select status" required>
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="addAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{assetPhase.assetPhase}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{editAssetPhaseData.assetPhase}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>
