<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><span lang="en">Budget Utilization Report</span></li>
            </ol>
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Budget Utilization Reports</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectRisks')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <div class=" col-lg-4  col-md-4 col-md-4 col-sm-12 col-xs-12">

                <div>

                    <h5 class="text-left" lang="en">Select Department</h5>
                    <ui-select ng-change="selectDepartment($select.selected.id)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="department in departmentList | filter: $select.search">
                            <span ng-bind-html="department.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-3  col-md-3 col-md-3 col-sm-12 col-xs-12">

                <!--<h5 class="text-left  lang="en"></h5>-->
                <br />
                <button class="btn btn-primary m-top20" ng-click="searchDetails()" lang="en">Search</button>
            </div>
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th colspan="6"></th>
                            <th  colspan="3" lang="en">Totals- 2016 </th>
                            <th  colspan="3" lang="en">Totals- 2015 </th>
                            <th  colspan="3" lang="en">Totals- 2014 </th>
                        </tr>
                        <tr>
                            <th lang="en">Plan</th>
                            <th lang="en">Plan Name</th>
                            <th lang="en">Status</th>
                            <th lang="en">Charter</th>
                            <th lang="en">Start Date</th>
                            <th lang="en">End Date</th>
                            <th lang="en">Budgeted</th>
                            <th lang="en">Utilized</th>
                            <th lang="en">% Utilized</th>
                            <th lang="en">Budgeted</th>
                            <th lang="en">Utilized</th>
                            <th lang="en">% Utilized</th>
                            <th lang="en">Budgeted</th>
                            <th lang="en">Utilized</th>
                            <th lang="en">% Utilized</th>
                        </tr>
                        </thead>
                        <tbody>
                       <!-- Plan#	Plan Name	Status	Charter	Start Dt	End Dt		Budgeted	utilized	% Utilized		Budgeted	utilized	% Utilized		Budgeted	utilized	% Utilized
                       --> <tr ng-repeat="task in taskDetails">
                            <th lang="en">{{task.planData.planId}}</th>
                            <th lang="en">{{task.planData.name}}</th>
                            <th lang="en">{{task.planData.taskStatus}}</th>
                            <th lang="en">{{task.planData.name}}</th>
                            <th lang="en">{{task.planData.startDate}}</th>
                            <th lang="en">{{task.planData.endDate}}</th>
                           <td >{{task.budgetDetails.firstYear.total}}</td>
                           <td >{{task.budgetDetails.firstYear.utilized}}</td>
                           <td >{{task.budgetDetails.firstYear.percentage}}</td>
                           <td >{{task.budgetDetails.secoundYear.total}}</td>
                           <td >{{task.budgetDetails.secoundYear.utilized}}</td>
                           <td >{{task.budgetDetails.secoundYear.percentage}}</td>
                           <td >{{task.budgetDetails.thirdYear.total}}</td>
                           <td >{{task.budgetDetails.thirdYear.utilized}}</td>
                           <td >{{task.budgetDetails.thirdYear.percentage}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
</div>
</div>

    </div>