<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"> <span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Stake Holders</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right"> </span> Case Stake Holders</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme" ng-if="roleLogin.caseStakeHolderedit">
                            <button id="createMastercaseStakeHolders" type="button" class="btn btn-success pull-right"
                                    ng-click="caseStakeClick()" lang="en">Create StakeHolder
                            </button>

                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#caseStakeHolders')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectName">
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table id="caseStakeHolders" ng-show="hideDetails" class="table table-bordered table-striped"></table>
        <div class=" table-responsive">
            <table datatable="ng" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="caseNumber" custom-sort order="'caseNumber'" sort="sort" lang="en">Case Number&nbsp;</th>
                        <th class="name" custom-sort order="'name'" sort="sort" lang="en">StakeHolder Name&nbsp;</th>
                        <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.caseStakeHolderedit" lang="en">Action&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="caseStakeHolderInfo in caseStakeHolderData track by $index">
                        <td>{{caseStakeHolderInfo.caseNumber}}</td>
                        <td>{{caseStakeHolderInfo.name}}</td>
                        <!--<td>{{caseStakeHolderInfo.name}} <span>-</span> <span>{{caseStakeHolderInfo.name}}</span></td>-->
                        <td ng-if="roleLogin.caseStakeHolderedit">
                            <button class="btn btn-primary"
                                    data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                    data-target="#caseStakeHolderEdit" ng-click="editCaseStakeHolderPopup(caseStakeHolderInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="createCaseStakeModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left" lang="en">Create Case StakeHolder</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="holderCreationError">{{createHolderTypeError}}</div>
                    <form class="simple-form" ng-submit="createMastercaseStakeHolders()">


                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">-->
                        <!--&lt;!&ndash;<div class="form-group" align="left">&ndash;&gt;-->
                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>-->
                            <!--<select class="form-control" ng-model="caseStakeHolder.caseNumber" required>-->
                                <!--<option value="">-&#45;&#45;Select Case Number -&#45;&#45;</option>-->
                                <!--<option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>-->
                            <!--</select>-->
                        <!--</div>-->


                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                            <ui-select ng-model="caseStakeHolder.caseId" theme="selectize" >
                                <ui-select-match placeholder="Select or Search Case Number">{{$select.selected.caseNumber}}</ui-select-match>
                                <ui-select-choices repeat="x in caseNumber | filter: $select.search">
                                    <span ng-bind-html="x.caseNumber | highlight: $select.search"></span>

                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                            <ui-select ng-model="caseStakeHolder.stake" theme="selectize">
                                <ui-select-match placeholder="Select or Search Stake Holder">{{$select.selected.name}}-{{$select.selected.holderId}}</ui-select-match>
                                <ui-select-choices repeat="x in stakeHolders | filter: $select.search">
                                    <span ng-bind-html="x.name | highlight: $select.search"></span>

                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">-->
                        <!--&lt;!&ndash;<div class="form-group" align="left">&ndash;&gt;-->
                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Stake Holders</span>:</label><br>-->
                            <!--<select  class="form-control" ng-model="caseStakeHolder.name" ng-change="getDepartments(caseStakeHolder.name)" required>-->
                                <!--<option value="">-Select Stake Holder-</option>-->
                                <!--&lt;!&ndash;<pre>List: <span ng-repeat="x in stakeHolders">{{bet.email}}<span class="camaHide">,</span></span></pre>&ndash;&gt;-->
                                <!--<option ng-repeat="x in stakeHolders" value="{{x.name}}">{{x.name}}-{{x.holderId}}</option>-->
                            <!--</select>-->
                        <!--</div>-->



                        <!--<div class="form-group" align="left">-->
                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span>Email:</label><br>-->
                            <!--<select  class="form-control" ng-model="caseStakeHolder.email" required>-->
                                <!--<option value="">-select Email-</option>-->
                                <!--<option ng-repeat="x in departments" value="{{x.email}}">{{x.email}}</option>-->
                            <!--</select>-->
                        <!--</div>-->



                        <input id="saveCaseStakeHolder" lang="en" class="btn btn-success" type="submit" value="Submit"/>
                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="caseStakeHolderEdit" data-backdrop="static" data-keyboard="false" caseStakeHolder="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title text-left" lang="en">Edit Case Stake Holder</h4>
            </div>
            <div class="modal-body">

                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="holderUpdationError">{{updateHolderTypeError}}</div>
                    <form class="simple-form" ng-submit="editCaseStakeHolder()">


                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">-->
                        <!--&lt;!&ndash;<div class="form-group" align="left">&ndash;&gt;-->
                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>-->
                            <!--<select class="form-control" ng-model="updateCaseStakeHolder.caseNumber" required>-->
                                <!--<option value="">-&#45;&#45;Select Case Number -&#45;&#45;</option>-->
                                <!--<option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>-->
                            <!--</select>-->
                        <!--</div>-->


                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                            <ui-select ng-model="updateCaseStakeHolder.caseId" theme="selectize">
                                <ui-select-match placeholder="Select or Search Case Number">{{$select.selected.caseNumber}}</ui-select-match>
                                <ui-select-choices repeat="x in caseNumber | filter: $select.search">
                                    <span ng-bind-html="x.caseNumber | highlight: $select.search"></span>
                                    <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>



                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">-->
                        <!---->

                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Stake Holders</span>:</label><br>-->
                            <!--<select  class="form-control" ng-model="updateCaseStakeHolder.name" ng-change="getDepartments(updateCaseStakeHolder.name)"  required>-->
                                <!--<option value="">-&#45;&#45;Select StakeHolder -&#45;&#45;</option>-->
                                <!--<option ng-repeat="x in stakeHolders" value="{{x.name}}">{{x.name}}-{{x.holderId}}</option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                            <ui-select ng-model="updateCaseStakeHolder.stake" theme="selectize">
                                <ui-select-match placeholder="Select or Search Stake Holder">{{$select.selected.name}}-{{$select.selected.holderId}}</ui-select-match>
                                <ui-select-choices repeat="x in stakeHolders | filter: $select.search">
                                    <span ng-bind-html="x.name | highlight: $select.search"></span>

                                </ui-select-choices>
                            </ui-select>
                        </div>



                        <input type="submit" lang="en" class="btn btn-success" value="Update"/>
                        <input type="button" lang="en" class="btn btn-default" value="Cancel"
                               ng-click="cancelEdit()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addDepartmentSuccess" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div ng-show="caseShow">
                <div class="modal-body textStyle1">

                <h4>Successfully  StakeHolder is Created For Case Number :'<b> {{selectCaseNumber}}</b> '.</h4>
                </div>
                <div class="modal-footer text-center">

                    <button type="button" class=" btn btn-success text-center" data-dismiss="modal" lang="en">OK</button>
                </div>
            </div>

            <div ng-show="caseHide">
                <div class="modal-body textStyle1" >
                <h4>Successfully  StakeHolder is Updated For Case Number :'<b> {{selectCaseNumb}}</b> '.</h4>
                </div>
                <div class="modal-footer text-center">

                    <button type="button" class=" btn btn-success text-center" data-dismiss="modal" lang="en">OK</button>

                </div>

            </div>
        </div>
    </div>
</div>