<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item"><span lang="en"> Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Uploads</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Case Uploads</div>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>

            <div class=" col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div>

                    <h5 class="text-left" lang="en"><span lang="en">Select or Search Case Id</span>:</h5>
                    <ui-select ng-change="selectareas($select.selected.caseNumber)" ng-model="caseNumber" theme="selectize">
                        <ui-select-match placeholder="Select or Search Case Number">{{$select.selected.caseNumber}}</ui-select-match>
                        <ui-select-choices repeat="caseNumb in caseList | filter: $select.search">
                            <span ng-bind-html="caseNumb.caseNumber | highlight: $select.search"></span>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectCaseDetails">
                    <div class=" m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Case Details</div>
                        <div class="table-responsive">
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Case Number</b></td>
                                <td class="width20">:</td>
                                <td>{{selectCaseDetails.caseNumber}}</td>

                                <td><b lang="en">Court Name</b></td>
                                <td>:</td>
                                <td>{{selectCaseDetails.courtName}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Advocate</b></td>
                                <td>:</td>
                                <td><span class="spanComma" ng-repeat="case in selectCaseDetails.advocate">{{case.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                <!--<td>{{selectCaseDetails.advocate}}</td>-->

                                <td><b lang="en">Status</b></td>
                                <td>:</td>
                                <td>{{selectCaseDetails.status}}</td>
                            </tr>
                            <!--<tr>-->
                                <!--<td><b lang="en">Priority</b></td>-->
                                <!--<td>:</td>-->
                                <!--<td>{{selectCaseDetails.priority}}</td>-->

                                <!--<td><b lang="en">Act</b></td>-->
                                <!--<td>:</td>-->
                                <!--<td>{{selectCaseDetails.act}}</td>-->
                            <!--</tr>-->


                            <!--<tr>-->
                                <!--<td><b lang="en">caseDetails</b></td>-->
                                <!--<td>:</td>-->
                                <!--<td colspan="4">{{selectCaseDetails.caseDetails}}</td>-->
                            <!--</tr>-->

                        </table>
                        </div>

                        <!--File upload and comments -->

                        <div class="projectMain m-top20 m-btm20 table-responsive">
                            <div class="projectTile" lang="en">Case Document Upload Details</div>

                            <table class="table table-bordered nopadding">
                                <thead>
                                <tr>
                                    <!--<th>Header Name</th>-->
                                    <!--<th>Name</th>-->
                                    <th lang="en">Attached Files</th>
                                    <th lang="en">Comment</th>
                                    <!--<th>Edit</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="document in documentsList track by $index">

                                    <!--<td>{{document.uploadedPersonName}}</td>-->
                                    <td><div ng-repeat="f in document.file">
                                        <a target="_blank" href="{{docUploadURL}}{{f._id}}">{{f.filename}}</a>

                                        <div>{{f.comment}}</div>
                                    </div></td>
                                    <td>{{document.comments}}</td>
                                    <!--<td>-->
                                    <!--<button class="btn btn-primary" ng-click="editUploadFile()"><span class="glyphicon glyphicon-pencil"></span></button>-->
                                    <!--</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <button class="btn btn-success" id="scroll" lang="en">Add Upload File</button>
                        <div class="clearfix visible-lg-block"></div>

                        <div id="scroll2" class="schemForms">

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="projectMain m-top20 m-btm20 ">
                                        <div class="projectTile" lang="en">Add Upload Files</div>
                                        <div class="p-all">
                                            <form role="form" class="row" name="myform" class="adminContent" ng-submit="caseUploads()">
                                                <div class="color-red f-bold p-all" ng-show="uploadError">{{uploadErrorMessage}}</div>
                                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                                                    <textarea rows="5" ng-model="upload.comments" placeholder="Enter Comment"></textarea>
                                                </div>
                                                <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                    <div class="projectMain p-all">
                                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Files</label>
                                                    <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'image/jpeg,application/pdf'">Attach Files</button>
                                                    <br>
                                                        <div class="color-red" ng-show="errorMssg1">Please Wait.. Uploading the selected file.</div>
                                                    <br>Uploaded Files:
                                                        <div class="color-theme1 f-bold" ng-show="fileUploadSuccess">File(s) Uploaded Successfully.</div>
                                                    <table class="table" >
                                                        <thead>
                                                            <tr>
                                                                <th lang="en">File Name</th>
                                                                <th lang="en">Comment</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                           <!-- <tr  ng-repeat="f in docList track by $index">
                                                                <td> {{f.filename}}</td>
                                                                <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                                </td>
                                                            </tr>-->
                                                           <tr  ng-repeat="f in docList track by $index">
                                                               <td>  <a target="_blank" href="{{uploadFile}}{{f._id}}">{{f.filename}}</a></td>

                                                               <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                               </td>
                                                               <td class="width20">
                                                                   <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile( f._id,$index)"></span>
                                                               </td>
                                                           </tr>

                                                        </tbody>
                                                    </table>
                                                    <span class="progress" ng-show="progress >= 0"></span>
                                                </div>
                                                </div>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                                                    <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                                                    <button id="cancel" type="button" class="btn btn-default" ng-click="cancel()" lang="en">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectCaseDetails">


                    <div class=" m-top20 m-btm20 ">
                        <!--<div class="projectTile" lang="en">Hearing Details</div>-->

                        <!--File upload and comments -->

                        <div class="projectMain m-top20 m-btm20 table-responsive">
                            <div class="projectTile" lang="en">Hearing Document Upload Details</div>

                            <table class="table table-bordered nopadding">
                                <tr>

                                    <th lang="en">Attached Files</th>
                                    <th lang="en">Comment</th>

                                </tr>
                                <tr ng-repeat="documents in hearingDocsList track by $index">


                                    <td><div ng-repeat="fs in documents.file">
                                        <a target="_blank" href="{{docUploadURL}}{{fs._id}}">{{fs.filename}}</a>

                                        <div>{{fs.comment}}</div>
                                    </div></td>
                                    <td>{{documents.comments}}</td>

                                </tr>
                            </table>
                        </div>

                        <button class="btn btn-success" id="scroll1" lang="en">Add Upload File</button>
                        <div class="clearfix visible-lg-block"></div>

                        <!--File uploadsssss -->
                        <div id="scroll22" class="schemForms">

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="projectMain m-top20 m-btm20 ">
                                        <div class="projectTile" lang="en">Add Upload Files</div>
                                        <div class="p-all">
                                            <form role="form" class="row" name="myform" class="adminContent" ng-submit="hearingUploads()">
                                                <div class="color-red f-bold p-all" ng-show="uploadHearingError">{{uploadHearingErrorMessage}}</div>
                                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                                                    <textarea rows="5" ng-model="upload.comments" placeholder="Enter Comment"></textarea>
                                                </div>
                                                <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                    <div class="projectMain p-all">
                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Files</label>
                                                        <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'image/jpeg,application/pdf'">Attach Files</button>
                                                        <br>
                                                        <div class="color-red" ng-show="errorMssg12">Please Wait.. Uploading the selected file.</div>
                                                        <br>Uploaded Files:
                                                        <div class="color-theme1 f-bold" ng-show="fileUploadSuccesss">File(s) Uploaded Successfully.</div>
                                                        <table class="table" >
                                                            <thead>
                                                            <tr>
                                                                <th lang="en">File Name</th>
                                                                <th lang="en">Comment</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <!--<tr  ng-repeat="f in docList track by $index">
                                                                <td> {{f.filename}}</td>
                                                                <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                                </td>
                                                            </tr>-->

                                                            <tr  ng-repeat="f in docList track by $index">
                                                                <td>  <a target="_blank" href="{{uploadFile}}{{f._id}}">{{f.filename}}</a></td>

                                                                <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                                </td>
                                                                <td class="width20">
                                                                    <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile( f._id,$index)"></span>
                                                                </td>
                                                            </tr>

                                                            </tbody>



                                                        </table>

                                                        <span class="progress" ng-show="progress >= 0"></span>

                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                                                    <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                                                    <button id="cancell" type="button" class="btn btn-default" ng-click="cancel()" lang="en">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--File uploadsssss -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


