<div class="breadcrumbArea" ng-if="showEmployee">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">User Administration</span></li>
                <li class="breadcrumb-item active"><span lang="en">Contractors List</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="breadcrumbArea">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active" lang="en">User Administration</li>
                <li class="breadcrumb-item"><a ng-click="clickToView()"><span lang="en">Contractors List</span></a></li>

            </ol>
        </div>

    </div>

</div>

<div class="adminContent">

    <div class="schemeMain" ng-show="!loadingImage">

        <div class="" >

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Contractors List</div>
                        </div>

                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="table-responsive projectInner">
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped" >

                            <tbody>
                            <!--     {{filedVisitList}}-->

                            <tr ng-repeat="document in contractorList" class="tableRepeatText" >
                                <td class="nopadding">
                                    <table class="table nopadding table-bordered table-striped" >
                                        <thead>
                                      <!--  <th lang="en">Name</th>
                                        <th lang="en">City</th>
                                        <th lang="en">Location</th>
                                        <th lang="en">Village</th>
                                        <th lang="en">Survey Area</th>
                                        <th lang="en">Attached Files</th>-->
                                      <th lang="en">Contractor Name</th>
                                      <th lang="en">email</th>
                                      <th lang="en">Phone</th>
                                        <th colspan="4" lang="en">Action</th>

                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="width150">{{document.name}}</td>
                                            <td>{{document.email}}</td>
                                            <td>{{document.phone}}</td>



                                            <td class="width50">
                                                    <span data-toggle="tooltip" title="View Contractor Details">
                                                        <button class="btn btn-default center-block" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </button>
                                                    </span>
                                            </td>
                                            <td class="width50" ng-if="document.editStatus">
                                                <!--data-toggle="modal" data-target="#approavlReport"-->
                                                <!--data-toggle="modal" data-target="#rejectReport"-->
                                                <button type="button" ng-if="document.editStatus" data-toggle="tooltip" title="Approve" ng-click="approvalModal(document)" class="btn btn-success" >
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </button>
                                            </td>
                                            <td class="width50" ng-if="document.editStatus">
                                                <button type="button" ng-if="document.editStatus"  data-toggle="tooltip" title="Reject" ng-click="rejectModal(document)"class="btn btn-danger" >
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" class="hiddenRow">
                                                <div class="accordian-body collapse" id="demo-{{$index}}">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th lang="en">Workflow Id</th>
                                                            <th lang="en">Workflow Level</th>
                                                            <th lang="en">Level No</th>
                                                            <th lang="en">Status</th>
                                                            <th lang="en">Approval Person</th>
                                                            <th lang="en">Date</th>
                                                            <th lang="en">Comment</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="workflow in document.workflow">
                                                            <td>{{workflow.workflowId}} </td>
                                                            <td>{{workflow.levelId}}  </td>
                                                            <td>{{workflow.levelNo}}  </td>
                                                            <td>{{workflow.approvalStatus}}  </td>
                                                            <td>{{workflow.employeeName}}  </td>
                                                            <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                            <!-- <td>
                                                                 &lt;!&ndash;  <button>Approval</button>
                                                               <button>Reject</button>&ndash;&gt;
                                                                 <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#approavlReport">Approval</button>
                                                                 <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectReport">Reject</button>
                                                             </td>-->
                                                            <td>{{workflow.comment}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>

                        </table>

                    </div>

                </div>

             <!--   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="table1">
                            <thead>
                            <tr>
                                <th lang="en">Contractor Name</th>
                                <th lang="en">email</th>
                                <th lang="en">Phone</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="employee in contractorList">

                                <td>{{employee.name}}</td>
                                <td>{{employee.email}}</td>
                                <td>{{employee.phone}}</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
-->
        </div>




    </div>

</div>

    <div id="approavlReport" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" lang="en">Plan Layout Approval</h4>
                </div>

                <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                    <div class="modal-body">
                        <div class="row schemForms">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                                <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" lang="en">Approve</button>
                        <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="rejectReport" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" lang="en">Plan Layout Reject</h4>
                </div>
                <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                    <div class="modal-body">
                        <div class="row schemForms">

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en" lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                                <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" lang="en">Reject</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
