<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/schemes"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">User Administration</span></li>
                <li class="breadcrumb-item "><a href="#/role"><span lang="en">Role</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Role Management</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Create Role</div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <form role="form" name="myform" ng-submit="addRole()">



                                <!--<div ng-show="errorInEmployeeSelection" class="color-red text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">{{errorMessageEmployeeSelection}}
                                    <hr />
                                </div>-->
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Enter Role Name:
                                    </label>
                                    <label>
                                    <input type="text" placeholder="Enter Role Name" class="form-control" ng-model="role.name" maxlength="40"  title="Enter Role Name"  data-toggle="tooltip" data-placement="top" required autocomplete="off" />
                                    </label>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Status:</label>
                                    <select ng-model="role.status" data-style="btn-primary" data-placement="Select Status"   title="Select Status"  data-toggle="tooltip" data-placement="top" required autocomplete="off">
                                        <option value="" selected>Select Status</option>
                                        <option value="Active" selected>Active</option>
                                        <option value="In Active">In Active</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <table  datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped"   >
                                  <thead>
                                  <tr>
                                  <th >Module</th>
                                  <th>Form Name</th>
                                  <th class="width150">View<br> </th>
                                  <th class="width150">Edit/All</th>
                                  </tr>
                                  </thead>
                                    <thead>
                                    <tr>
                                  <td ></td>
                                  <td></td>
                                  <td class="width150"><input type="checkbox" ng-model="viewAll" ng-click="checkViewAll()" /></td>
                                  <td class="width150"><input type="checkbox" ng-model="editAll" ng-click="checkEditAll()" /></td>
                                  </tr>
                                </thead>
                                    <tbody>
                                    <tr ng-repeat="form in formsList | filter:search">
                                        <td>{{form.typeValue}}</td>
                                        <td>{{form.name}}</td>
                                        <td>
                                            <input type="checkbox"ng-model="form.view"  ng-click="fromView(form)" >
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="form.edit" ng-click="formEdit(form)" >
                                        </td>
                                    </tr>
                                  </tbody>
                                </table>

                                    <div  ng-if="errorMessage" class="color-red text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {{errorMessageData}}<hr />
                                    </div>
                            <button type="submit" class="btn btn-success" lang="en">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>

                                </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="addRoleSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess color-green">
                <div class="sMessage">Successfully -' <b>{{response.name}}</b> '  is Created.</div>

            </div>
        </div>
        <div class="modal-footer">
            <button lang="en" ng-click="addRoleEmployees()" class="btn btn-success width120">OK</button>
        </div>
    </div>
</div>

<div id="editRoleSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess color-green">
                <div class="sMessage">Successfully 'Role' is Updated.</div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>