<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Land And Asset Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Create Asset Service Level Forecast</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Create Asset Service Level Forecast</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#createCharter" lang="en" ng-show="hideButton">Add Next Level</button>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#logBook')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                            <!--<button class="btn btn-default pull-right m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <form class="row schemForms" role="form" name="myform">
                    <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label>Department:</label>
                        <select data-style="btn-primary" ng-change="getEmployeeDepartment(assetTypelist.name)" ng-model="assetTypelist.name" class="m-top20 " >
                            <option value="" disabled>Select Department</option>
                            <option ng-repeat="assetTypelist in employeeListType"  value="{{assetTypelist.name}}">{{assetTypelist.name}}</option>
                        </select>
                    </div>-->

                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label><span class="color-red f-bold f-left">*</span><span lang="en">Department</span>:</label>
                        <ui-select ng-change="getEmployeeDepartment($select.selected.id)" ng-model="assetTypelist.name" theme="selectize">
                            <ui-select-match placeholder="Select or Search Department">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="assetTypelist in employeeListType | filter: $select.search">
                                <span class="text-capitalize" ng-bind-html="assetTypelist.name | highlight: $select.search"></span>
                                <!--<small ng-bind-html="assetType.assetName | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label>Employee:</label>
                        <select data-style="btn-primary" ng-change="selectedEmployee(getDetails.employee)" ng-model="getDetails.employee" class="m-top20">
                            <option value="" disabled>Select Employee</option>
                            <option ng-repeat="employee in getDetailsEmp"  value="{{employee}}">{{employee.firstName}}</option>
                        </select>
                    </div>-->

                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label><span class="color-red f-bold f-left">*</span><span lang="en">Assets</span>:</label>
                        <label><span lang="en"></span></label>
                        <ui-select ng-change="selectedEmployee($select.selected)" ng-model="getDetails.employee" theme="selectize">
                            <ui-select-match placeholder="Select or Search Assets">{{$select.selected.assetName}}</ui-select-match>
                            <ui-select-choices repeat="employee in getDetailsEmp | filter: $select.search">
                                <span class="text-capitalize" ng-bind-html="employee.assetName | highlight: $select.search"></span> -->
                                <span ng-bind-html="employee.assetNumber | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label><span class="color-red f-bold f-left">*</span><span lang="en">Month</span>:</label>
                        <!--<input  placeholder="Enter Date" type="text" ng-mousedown="getDateFromMonth(charter.date)" ng-calendar ng-model="charter.date" format="%d-%m-%Y" readonly>-->
                        <input type="text" ng-click="getDate(charter.date);"ng-calendar format="%d-%m-%Y" ng-model="charter.date" readonly />
                    </div>

                </form>
                <hr />
            </div>

            <table id="logBook" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain">
                    <div class="projectTile"><span lang="en">Future Service Level</span></div>
                    <div class="table-responsive projectInner">
                        <table datatable="ng" class="table table-bordered table-striped" id="charter">
                            <thead>
                            <tr>
                                <th lang="en">Asset Number</th>
                                <th lang="en">Current Service Level</th>
                                <th lang="en">Replacement Due Date</th>
                                <th lang="en">Next Due Date</th>
                                <th lang="en">Warrenty Period</th>
                                <th lang="en">Warrenty Expiration Date</th>
                                <th lang="en" class="width20">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="charter in logBookList">
                                <td class="text-capitalize"><p>{{charter.assetNumber}}</p></td>
                                <td class="text-capitalize"><p>{{charter.currentServiceLevel}}</p></td>
                                <td class="text-capitalize"><p>{{charter.replacementDueDate}}</p></td>
                                <td class="text-capitalize"><p>{{charter.nextDueDate}}</p></td>
                                <td class="text-capitalize"><p>{{charter.warrentyPeriod}}</p></td>
                                <td class="text-capitalize"><p>{{charter.expiryDate}}</p></td>
                                 <td class="width120">
                                     <button class="btn btn-primary" ng-click="editCharterButton(charter)"><span class="glyphicon glyphicon-pencil"></span></button>
                                 </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div id="createCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Asset Service Level Forecast</h4>
            </div>
            <div class="text-center color-red f-bold" ng-show="errorMsg">{{msgError}}</div>
            <form role="form" name="myform" ng-submit="createServiceLevel()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 colxs-12 form-group">
                             <label><span class="color-red f-bold f-left">*</span>Purchage Agenda ID:</label>
                             <input type="text" class="form-control" ng-model="charter.purchageAgendaId"/>
                         </div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Replacement Due Date</span>:</label>
                            <input disabled  placeholder="Replacement Due Date" type="text" ng-calendar ng-model="replacementDueDate" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Next Due Date</span>:</label>
                            <input  placeholder="Next Due Date" type="text" ng-calendar ng-model="charter.nextDueDate" format="%d-%m-%Y" readonly>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="submit" ng-click="resetData();" class="btn btn-info" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="editCharter" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Asset Service Level Forecast</h4>
            </div>

            <form role="form" name="myform" ng-submit="editServiceLevel()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                             <label>Purchage Agenda ID:</label>
                             <input type="text" class="form-control" ng-model="editCharterData.purchageAgendaId"/>
                         </div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Replacement Due Date</span>:</label>
                            <input disabled placeholder="Replacement Due Date" type="text" ng-calendar ng-model="editService.replacementDueDate" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label><span lang="en">Next Due Date</span>:</label>
                            <input  placeholder="Next Due Date" type="text" ng-calendar ng-model="editService.nextDueDate" format="%d-%m-%Y" readonly>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>


<div id="addLogBookSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Future Service Level is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editFailureSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Future Service Level is Updated.</div>
            </div>
        </div>

    </div>
</div>