<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">

                        <a  href="#/hearingDate" class="backbtnArea pull-right">
                            <div class="" id="content">
                                <div class="aside arrow">
                                    <span class="glyphicon glyphicon-chevron-left"> </span>
                                    <span class="backbtn">Go Back</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Edit Hearing Date</div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <div id="" class="col-lg-12 col-md-12 col-sm-6 col-xs-12">


                <div class="createCase schemForms">
                    <form class="row" role="form" name="myform" ng-submit="editHearingDate()">



                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12" >
                            <label><span class="color-red f-bold f-left">*</span>Case Number:</label><br>
                            <select class="form-control" ng-model="updateHearingDate.caseNumber" disabled required>
                                <option value="">---select Case Number ---</option>
                                <option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12" >
                            <label><span class="color-red f-bold f-left">*</span>Status:</label><br>
                            <select class="form-control" ng-model="updateHearingDate.status" required>
                                <option value="">---select Case Status ---</option>
                                <option ng-repeat="x in status" value="{{x.field1}}">{{x.field1}}</option>
                            </select>
                        </div>



                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12" >
                            <label> <span class="color-red f-bold f-left">*</span>Hearing Date</label>
                            <input ng-model="updateHearingDate.editDate" placeholder="Select Hearing date" type="text" ng-calendar format="%m-%d-%Y" required >

                        </div>

                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12" >
                            <label><span class="color-red f-bold f-left">*</span>Advocate:</label><br>
                            <select multiple class="form-control" ng-model="updateHearingDate.advocateName" required>


                                <option ng-repeat="x in advocates" ng-selected="checkAdvocateHearingSelected(x)" value="{{x}}">{{x.name}}</option>

                            </select>
                        </div>



                        <br/>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success" value="Update">Save Hearing Date</button>
                            <a href="#/hearingDate" class="btn btn-default">Cancel</a>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


