<div class="container-fluid" style="background:#f6f7f9;min-height: 430px;margin-bottom:30px" >
    <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2" style="padding:10px">
        <h3>Govt. Employer Details </h3>


        <div style="background:#e84c3d;">
            <h3 style="padding: 6px;font-size: 20px;color: white;">Employer Details</h3>
        </div>



        <div style="border:1px solid #ddd;padding: 10px;margin-top: -10px;background: white;">
            <div class="row">


                <div class="col-lg-12 m-top10">
                    <input type="text" class="form-control width98" placeholder="Full Name">
                </div>


                <div class="col-lg-12 m-top10">
                    <select class="form-control width98">
                        <option>Position</option>
                        <option>MLA</option>
                        <option>MP</option>
                        <option>Councellor</option>
                    </select>
                </div>

                <div class="col-lg-12 m-top10">
                    <h4>House Details</h4>
                </div>

                <div class="col-lg-12 m-top10">
                    <select class="form-control width98">
                        <option>Select</option>
                        <option>Lok Sabha</option>
                        <option>Rajya Sabha</option>
                    </select>
                </div>

                <div class="col-lg-12 m-top10">
                    <h4>Constituency Name</h4>
                </div>


                <div class="col-lg-12 m-top10">
                    <input type="text" class="form-control width98" placeholder="Constituency Name">
                </div>


                <div class="col-lg-12 m-top10">
                    <h4>Party Name</h4>
                </div>


                <div class="col-lg-12 m-top10">
                    <input type="text" class="form-control width98" placeholder="Party Name">
                </div>

                <div class="col-lg-12 m-top10">
                    <h4>Local Address</h4>
                </div>


                <div class="col-lg-6 m-top10">
                    <input type="text" class="form-control width95" placeholder="Plot">
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text" class="form-control width95" placeholder="Area">
                </div>

                <div class="col-lg-6 m-top10">
                    <select class="form-control width95">
                        <option>City</option>
                        <option>Chennai</option>
                        <option>Coimbatore</option>
                        <option>Madurai</option>
                        <option>Vellore</option>
                        <option>Erode</option>
                        <option>Hosur</option>
                        <option>Tiruchirappalli</option>
                    </select>
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <select class="form-control width95">
                        <option>State</option>
                        <option>Tamil Nadu</option>
                    </select>
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text"  class="form-control width95" placeholder="Zipcode">
                </div>


                <div class="col-lg-12 m-top10">
                    <h4>Website URL</h4>
                </div>


                <div class="col-lg-12 m-top10  m-btm10">
                    <input type="text"  class="form-control width98" placeholder="Type URL">
                </div>

                <div class="col-lg-12 btn_p m-btm10">
                    <button style="padding: 6px 30px;" class="btn grievance_btn">Submit</button>&emsp;
                    <button class="btn cancel_btn">Cancel</button>
                </div>

            </div>
        </div>









    </div>
</div>