<div class="breadcrumbArea">

</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">


        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Leave Request</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <div class="addScheme pull-right">
                            <!--<button class="btn btn-default m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                            <!--<button class="btn btn-default m-right5" ng-click="exportToExcel('#assetGroup')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                            <button class="btn btn-success pull-right" data-toggle="modal" ng-click="removeMessaageInAdd()" data-target="#addAssetType"><span lang="en">Add Leave Request</span></button>-->
                        </div>

                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="assetGroup" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" class="hover table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Type of Leave</th>
                            <th lang="en">Start Date</th>
                            <th lang="en">End Date</th>
                            <th lang="en">Total Days</th>
                            <th lang="en">Status</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="asssetType in assetTypeList">

                            <td class="text-capitalize">{{asssetType.leaveType}}</td>
                            <td class="text-capitalize">{{asssetType.startDate}}</td>
                            <td class="text-capitalize">{{asssetType.endDate}}</td>
                            <td class="text-capitalize">{{asssetType.numOfDays}}</td>
                            <td class="text-capitalize">{{asssetType.status}}</td>
                            <td class="text-capitalize">
                              <!--  <button class="btn btn-primary" ng-click="editAssetType(asssetType)"><span class="glyphicon glyphicon-pencil"></span></button>-->
                               <!-- <div ng-show="approvedArea">
                                    <button class="btn btn-success" ng-click="approvedAssetType(asssetType)" ng-if="asssetType.editStatus"  ng-show="checkedData"><span class="glyphicon glyphicon-ok"></span></button>
                                    <div  ng-show="!checkedData">Approved</div>
                                </div>
                                <div ng-show="rejectedArea">
                                    <button class="btn btn-danger" ng-show="uncheckedData" ng-if="asssetType.editStatus" ng-click="rejectedAssetType(asssetType)"><span class="glyphicon glyphicon-remove"></span></button>
                                    <div ng-show="!uncheckedData">Rejected</div>
                                </div>-->
                                <button class="btn btn-success" ng-click="approvedAssetType(asssetType)" ng-if="asssetType.editStatus"  ng-show="checkedData"><span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-danger" ng-show="uncheckedData" ng-if="asssetType.editStatus" ng-click="rejectedAssetType(asssetType)"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addAssetType" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Add Asset Group</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="addAssetRiskGroupData()">
                <div class="row schemForms">

                    <div class="modal-body">

                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Asset Group</span>:</label>
                            <input type="text" placeholder="Enter Asset Group Name" class="form-control" ng-model="assetType.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Status</span>:</label>
                            <select ng-model="assetType.status" data-style="btn-primary" data-placement="Select status" required>
                                <option value="" selected>Select Status</option>
                                <option value="Active">Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editAssetTypeModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Edit Asset Group</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="editAssetRiskGroupButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Asset Group</span>:</label>
                            <input type="text" placeholder="Enter Asset Group Name" class="form-control" ng-model="editAssetTypeData.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Status</span>:</label>
                            <select ng-model="editAssetTypeData.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{assetType.name}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{editAssetTypeData.name}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>
