<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><a href="#/noticeComments"><span lang="en">Notice Comments</span></a></li>
                <li class="breadcrumb-item" lang="en">Notice Details</li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a href="#/noticeComments" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Notice Details</div>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                                    <div class="addScheme pull-right">
                                        <button class="btn btn-primary pull-right" ng-click="generatePDF()"><i class="fa fa-save"></i> Print</button>

                                    </div>
                                </div>

                            </div>
                            <div class="clearfix visible-block"></div>
                            <hr />
                        </div>

                        <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="addScheme">
                                <div>

                                    <h5 class="text-left" lang="en"><span lang="en">Select Notice Number </span>:</h5>
                                    <ui-select ng-change="selectareas($select.selected.noticeNumber)" ng-model="noticeNumber" theme="selectize">
                                        <ui-select-match placeholder="Select or Search Notice Number">{{$select.selected.noticeNumber}}</ui-select-match>
                                        <ui-select-choices repeat="caseNumb in noticeList | filter: $select.search">
                                            <span ng-bind-html="caseNumb.noticeNumber | highlight: $select.search"></span>

                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div id="formConfirmation">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div ng-show="selectCaseDetails">

                                <div class="projectMain m-top20 m-btm20 ">
                                    <div class="projectTile"><span lang="en">Notice Details</span></div>

                                    <table class="table table-bordered nopadding">
                                        <tr>
                                            <td class="width160"><b><span lang="en">Case Number</span></b></td>
                                            <td class="width20">:</td>
                                            <td>{{selectCaseDetails.caseNumber}}</td>
                                        </tr>
                                        <tr>
                                            <td class="width160"><b><span lang="en">Notice Number</span></b></td>
                                            <td class="width20">:</td>
                                            <td>{{selectCaseDetails.noticeNumber}}</td>
                                        </tr>
                                        <tr >
                                            <td class="width160"><b><span lang="en">Comment</span></b></td>
                                            <td class="width20">:</td>
                                            <td><div ng-repeat="commentInfo in selectCaseDetails.comment track by $index">
                                        {{$index+1}}.{{commentInfo}}</div></td>
                                        </tr>

                                    </table>
                                </div>


                            </div>
                        </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
