<pre>
    <h1>
        Hi..
        hi..
        hi..
        hi..
        hi..
        hi..
    </h1>
</pre>
<img src="images/gears.gif" />

<div class="preloader">
    <div id="status"></div>
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_four"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_one"></div>
        </div>
    </div>
</div>