<div class="adminContent" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>

                <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> View Scheme Forms</div>
                <hr />
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <td class="text-left width160"><b>Form Name</b></td>
                            <td class="width20">:</td>
                            <td class="text-left" colspan="4">{{schemeLists.module}}</td>
                        </tr>
                        <tr>
                            <td class="text-left width160"><b>Form Name</b></td>
                            <td class="width20">:</td>
                            <td class="text-left">{{schemeLists.name}}</td>

                        </tr>
                        <tr>
                            <td class="text-left width160"><b>Date</b></td>
                            <td class="width20">:</td>
                            <td class="text-left" colspan="4">{{schemeLists.date}}</td>
                        </tr>


                        <tr>
                            <td class="text-left width160"><b>Purpose</b></td>
                            <td class="width20">:</td>
                            <td class="text-left" colspan="4">{{schemeLists.purpose}}</td>
                        </tr>
                        <tr>
                            <td class="text-left width160">Uploaded Files</td>
                            <td class="width20">:</td>
                            <td class="text-left" colspan="4">


                                <div ng-repeat="scheme in schemeLists.forms">
                                    <a target="_blank" href="http://localhost:3004/api/Uploads/dhanbadDb/download/{{scheme._id}}">{{scheme.filename}}</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>



            </div>
        </div>
    </div>
</div>